<div class="footer">
	<div class="grid">
		<a class="about area hover big" [routerLink]="'/about'">
			<div class="inner">
				<p>About</p>
			</div>
		</a>
		<div class="credit area">
			<div class="inner">
				<p>Designed and Developed by Jay Sobel<br>with data from the <a href="https://www.kcbs.us/events" target="_blank">KCBS</a></p>
			</div>
		</div>
		<a href="https://www.linkedin.com/in/jayeastmansobel/" class="area social hover">
			<div class="inner">
				<i class="fa fa-linkedin" aria-hidden="true"></i>
			</div>
		</a>
		<a href="https://github.com/73805" class="area social hover">
			<div class="inner">
				<i class="fa fa-github" aria-hidden="true"></i>
			</div>
		</a>
		<a href="mailto:removed-for-github" class="area social hover">
			<div class="inner">
				<i class="fa fa-reply" aria-hidden="true"></i>
			</div>
		</a>
	</div>
</div>
